<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>온라인 마크다운 PPT 서비스! 피피토 | PPT 리스트</title>
</head>
<body>
    <main>
        <div class="container">
            <table>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                <th:block>
                    <tr th:each="article : ${articles}">
                        <td><span th:text="${article.title}"></span></td>
                        <td><span th:text="${article.getMember().name}"></span></td>
                        <td><span th:text="${article.regDate}"></span></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </main>
</body>
</html>