<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/pptor}">
<head>
    <title>view</title>
</head>

<main layout:fragment="main" role="main">
    <article id="webslides" class="vertical">
        <th:block th:each="arg : ${articleDetail}">
            <th:block th:with="contents=${arg.contentText}">
                <th:block th:each="content : ${contents}">
                    <th:block th:utext="${content}"></th:block>
                </th:block>
            </th:block>
        </th:block>
    </article>
    <script>
        const renderer = new RenderFactory();
        renderer.rendering();
    </script>
</main>

</html>