<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">

<head>
  <title>온라인 마크다운 PPT 서비스! 피피토 | 회원관리 페이지</title>
</head>

<div layout:fragment="content">

  <!-- 임시 -->
  <div class="flex flex-col py-4">
    <div class="flex justify-center py-10 rounded-md bg-white shadow p-6">
      <div>
        <div class="">
          <span>전체 회원 수 : </span>
          <span th:text="${count}+명"></span>
        </div>
        <div class="flex justify-center">
          <table class="container mx-auto">
            <thead>
            <tr class="w-full text-sm text-gray-500">
              <th class="w-24 px-6 py-4">선택</th>
              <th class="w-40 px-6 py-4">회원 아이디</th>
              <th class="w-40 px-6 py-4">별명</th>
              <th class="w-40 px-6 py-4">현재 권한 상태</th>
              <th class="w-40 px-6 py-4">차단</th>
              <th class="w-40 px-6 py-4">현재 차단 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
              <td class="px-6 py-4 text-sm text-gray-500">
                <input type="checkbox">
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                <span th:text="${member.loginId}"></span>
              </td>
              <td class="px-6 py-4">
                <span th:text="${member.nickname}"></span>
              </td>
              <td class="px-6 py-4">
                <th:block th:with="level=${member.authLevel}">
                  <th:blcok th:switch="${level}">
                    <span th:case="1">준회원</span>
                    <span th:case="3">회원</span>
                    <span th:case="7">관리자</span>
                  </th:blcok>
                </th:block>
              </td>
              <td class="py-4">
                <button type="submit" class="ml-3 bg-gray-500 hover:bg-black text-white font-bold py-2 px-4 rounded duration-300">T</button>
              </td>
              <td class="py-4">
                <span th:text="${member.blind}">정상(false)</span>
              </td>
              <td class="py-4">
                <button th:text="#{button.modify}" type="submit" class="ml-3 bg-red-500 text-white font-bold py-2 px-4 rounded duration-300">수정하기</button>
                <a th:text="#{button.cancel}" href="redirect:/" class="ml-3 bg-blue-500 text-white font-bold py-2 px-4 rounded duration-300">취소</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

</html>