<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>온라인 마크다운 PPT 서비스! 피피토 | 로그인</title>
</head>
<body>
    <form action="../member/doLogin" method="post" >
        <div>
            <div>
                <input name="loginId" type="text" placeholder="아이디"/>
            </div>
            <div>
                <input name="loginPw" type="password" placeholder="비밀번호"/>
            </div>
        </div>
        <button type="submit">로그인</button>
    </form>
</body>
</html>