<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

  <head>
      <title>온라인 마크다운 PPT 서비스! 피피토 | 회원정보수정</title>
    <!-- 오류메세지 CSS 작업 -->
    <style>
      .field-error {
          border-color: red;
          color : red;
      }
    </style>
  </head>

  <div layout:fragment="content">
    <form action="../member/doModify" th:action th:object="${memberModifyForm}" method="POST" class="rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
      <div class="flex justify-center">
        <input class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="loginId" type="text" placeholder="아이디" th:value="${member.loginId}" disabled>
      </div>
      <div class="mb-1 flex justify-center">
        <input th:field="*{loginPw}" th:errorclass="field-error" class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="loginPw" type="password" th:placeholder="#{usr.member.loginPw}">
        <div class="field-error" th:errors="*{loginPw}">
          비밀번호를 입력하여 주시기 바랍니다[테스트]
        </div>
      </div>
      <div class="mb-1 flex justify-center">
        <input class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="loginPwConfirm" type="password" th:placeholder="#{usr.member.loginPw.check}">
      </div>
      <div class="mb-1 flex justify-center">
        <input th:errorclass="field-error" class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="name" type="text" th:placeholder="#{usr.member.name}" th:value="${member.name}">
      </div>
      <div class="mb-1 flex justify-center">
        <input th:field="*{nickname}" th:errorclass="field-error" class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="nickName" type="text" th:placeholder="#{usr.member.nickname}" th:value="${member.nickname}">
        <div class="field-error" th:errors="*{nickname}">
          닉네임을 입력하여 주시기 바랍니다.
        </div>
      </div>
      <div class="mb-1 flex justify-center">
        <input th:field="*{email}" th:errorclass="field-error" class="shadow appearance-none border border-red rounded w-1/3 py-2 px-3 text-grey-darker mb-2" name="email" type="email" th:placeholder="#{usr.member.email}" th:value="${member.email}">
        <div class="field-error" th:errors="*{email}">
          이메일을 입력하여 주시기 바랍니다.
        </div>
      </div>
      <div class="flex items-center justify-center flex-col">
        <button th:text="#{button.modify}" class="bg-black text-white font-bold w-1/3 py-2 px-4 rounded mb-1" type="submit">
          수정
        </button>
        <div class="flex items-center justify-center w-1/3 text-gray-500">
          <a th:text="#{button.cancel}" href="../member/login">수정취소</a>
        </div>
      </div>
    </form>
  </div>

</html>