<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

  <head>
      <title>온라인 마크다운 PPT 서비스! 피피토 | 회원정보수정</title>
  </head>

  <div layout:fragment="content">
    <form action="../member/doModify" method="post">
      <div>
        <div>
          <input name="loginId" type="text" placeholder="아이디"  th:value="${member.loginId}"/>
        </div>
        <div>
          <input name="loginPw" type="password" placeholder="비밀번호" th:value="${member.loginPw}"/>
        </div>
        <div>
          <input name="loginPwConfirm" type="password" placeholder="비밀번호 확인"/>
        </div>
        <div>
          <input name="name" type="text" placeholder="이름" th:value="${member.name}"/>
        </div>
        <div>
          <input name="nickName" type="text" placeholder="닉네임" th:value="${member.nickname}"/>
        </div>
        <div>
          <input name="email" type="text" placeholder="이메일" th:value="${member.email}"/>
        </div>
      </div>
      <div>
        <button type="submit">수정</button>
        <button type="button" onclick="history.back();">수정취소</button>
      </div>
    </form>
  </div>

</html>